{{>layouts/header}}
<h1>랜선 각자 코딩 스터디 기록</h1>
<div class="col-md-12">
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>번호</th>
            <th>사용자 ID</th>
            <th>시작 시간</th>
            <th>끝 시간</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#studyLogs}}
            <tr>
                <td>{{id}}</td>
                <td>{{userId}}</td>
                <td>{{startTime}}</td>
                <td>{{endTime}}</td>
            </tr>
        {{/studyLogs}}
        </tbody>
    </table>
</div>
{{>layouts/footer}}